Repository essential-contributions/pint, pull requests merged in 2024-10, with the labels that each got.

#870 Upgrade to latest access opcodes
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  pint-abi-gen-tests/test-pkgs/simple/src/contract.pnt
  pint-abi-gen-tests/tests/simple.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/pub_vars.rs
  pint-abi-gen/src/utils.rs
  pint-abi-gen/src/vars.rs
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/asm_gen/tests/intrinsics.rs
  pintc/src/asm_gen/tests/multi_predicates.rs
  pintc/src/asm_gen/tests/pub_vars.rs
  pintc/src/predicate/transform/lower/lower_pub_var_accesses.rs
  pintc/src/predicate/transform/lower/lower_storage_accesses.rs
  pintc/src/types.rs
  pintc/tests/basic_tests/pub_vars.pnt
  pintc/tests/basic_tests/pub_vars_external_flattened.pnt
  pintc/tests/basic_tests/pub_vars_flattened.pnt
  pintc/tests/interfaces/local_predicate.pnt
  pintc/tests/test.pnt
  tests/validation_tests/intrinsics.pnt
  tests/validation_tests/pub_var_tuple_hash.toml
  tests/validation_tests/transient_extern_same_contract.toml
  tests/validation_tests/transient_external.toml
  tests/validation_tests/transient_local.toml
Labels: compiler :dragon: : asm backend, dependencies

#877 Arbitrary state programs
  docs/book/src/appendix/intrinsics.md
  pint-abi-gen-tests/test-pkgs/simple/src/contract.pnt
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/error/compile_error.rs
  pintc/src/expr/intrinsics.rs
  pintc/src/lexer.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/type_check/check_exprs.rs
  pintc/src/predicate/analyse/type_check/validate.rs
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/lower/lower_storage_accesses.rs
  pintc/src/types.rs
  pintc/tests/basic_tests/bad_nil.pnt
  pintc/tests/basic_tests/nil.pnt
  pintc/tests/intrinsics/bad_vec_len_placement.pnt
  pintc/tests/intrinsics/incorrect_args.pnt
  pintc/tests/intrinsics/size_of.pnt
  pintc/tests/macros/bad_splicing.pnt
  pintc/tests/macros/splicing_expression_size.pnt
  pintc/tests/optimizations/dead_state_elimination.pnt
  pintc/tests/storage/bad_storage_accesses.pnt
  pintc/tests/storage/mut_storage.pnt
  pintc/tests/storage/state_programs.pnt
  tests/validation_tests/intrinsics.pnt
  tests/validation_tests/state_programs.pnt
  tests/validation_tests/state_programs.toml
Labels: compiler :dragon: : parser, compiler :dragon: : asm backend, compiler :dragon: : semantic analysis

#905 Add compile time evaluation for union literals.
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/expr.rs
  pintc/src/expr/display.rs
  pintc/src/expr/evaluate.rs
  pintc/src/predicate.rs
  pintc/src/predicate/analyse/type_check/validate.rs
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/transform/lower.rs
  pintc/tests/unions/const_eval.pnt
Labels: compiler :dragon: : semantic analysis

#907 Add support for `match` decls *and* exprs in macro bodies.
  pintc/src/macros.rs
  pintc/src/parser.rs
  pintc/src/pint_parser.lalrpop
  pintc/tests/macros/variadic_chain.pnt
  pintc/tests/unions/macros.pnt
Labels: compiler :dragon: : parser

#898 Optimize simple exprs
  pintc/src/asm_gen/tests.rs
  pintc/src/expr.rs
  pintc/src/predicate/optimize.rs
  pintc/src/predicate/optimize/const_folding.rs
  pintc/tests/optimizations/const_folding.pnt
  pintc/tests/optimizations/dead_select_elimination.pnt
  pintc/tests/optimizations/dead_state_elimination.pnt
Labels: optimization :chart_with_upwards_trend:

#911 Support `in` exprs in `evaluator`
  pintc/src/expr/evaluate.rs
  pintc/tests/evaluator/in_exprs.pnt
  pintc/tests/experimental/in_expr_evaluation.pnt
Labels: compiler :dragon: : semantic analysis

#916 Use a slotmap for union decls in `Contract`.
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/expr.rs
  pintc/src/expr/display.rs
  pintc/src/expr/evaluate.rs
  pintc/src/macros.rs
  pintc/src/parser/context.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/array_check.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/analyse/type_check/check_decls.rs
  pintc/src/predicate/analyse/type_check/check_exprs.rs
  pintc/src/predicate/analyse/type_check/check_paths.rs
  pintc/src/predicate/analyse/type_check/custom_types.rs
  pintc/src/predicate/analyse/type_check/validate.rs
  pintc/src/predicate/display.rs
  pintc/src/predicate/optimize/const_folding.rs
  pintc/src/predicate/optimize/dead_code_elimination.rs
  pintc/src/predicate/states.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/lower/lower_storage_accesses.rs
  pintc/src/predicate/transform/unroll.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/predicate/vars.rs
  pintc/src/types.rs
  pintc/src/types/display.rs
  pintc/tests/basic_tests/aliases.pnt
  pintc/tests/consts/simple.pnt
  pintc/tests/contracts/multifile/main.pnt
  pintc/tests/contracts/simple.pnt
  pintc/tests/root_types/custom.pnt
  pintc/tests/root_types/exprs.pnt
  pintc/tests/root_types/interfaces.pnt
  pintc/tests/storage/bad_storage_types.pnt
  pintc/tests/storage/new_type_map.pnt
  pintc/tests/types/const_tuples_with_enums.pnt
  pintc/tests/types/nested_enums.pnt
  pintc/tests/types/new_type.pnt
  pintc/tests/types/new_type_in_new_type.pnt
  pintc/tests/types/new_type_in_tuple.pnt
  pintc/tests/types/new_type_mismatch.pnt
  pintc/tests/unions/const_eval.pnt
Labels: code quality 🤓

#912 Unions `TypeABI` and abi gen
  pint-abi-gen-tests/src/lib.rs
  pint-abi-gen-tests/src/unions.rs
  pint-abi-gen-tests/test-pkgs/unions/.gitignore
  pint-abi-gen-tests/test-pkgs/unions/pint.toml
  pint-abi-gen-tests/test-pkgs/unions/src/contract.pnt
  pint-abi-gen-tests/test-pkgs/unions/src/lib.pnt
  pint-abi-gen-tests/test-pkgs/unions/src/lib2.pnt
  pint-abi-gen-tests/test-pkgs/unions/src/lib3/foo.pnt
  pint-abi-gen-tests/tests/unions.rs
  pint-abi-gen/src/array.rs
  pint-abi-gen/src/keys.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/map.rs
  pint-abi-gen/src/mutations.rs
  pint-abi-gen/src/pub_vars.rs
  pint-abi-gen/src/unions.rs
  pint-abi-gen/src/utils.rs
  pint-abi-gen/src/vars.rs
  pint-abi-types/src/lib.rs
  pint-abi-visit/src/lib.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/types.rs
Labels: pint :toolbox:, json abi :outbox_tray:

#917 Bump to 0.3.0
  .trunk/trunk.yaml
  Cargo.lock
  Cargo.toml
  pint-abi-gen/Cargo.toml
  pint-abi-types/Cargo.toml
  pint-abi-visit/Cargo.toml
  pint-abi/Cargo.toml
Labels: release

#919 Bump remaining crates
  Cargo.lock
  Cargo.toml
  pint-cli/Cargo.toml
  pint-pkg/Cargo.toml
  pintc/Cargo.toml
Labels: release

#921 Remove enums and add unions and `match` to the Book of Pint
  docs/book/src/SUMMARY.md
  docs/book/src/basics/conditionals.md
  docs/book/src/basics/custom_types.md
  docs/book/src/basics/custom_types/match.md
  docs/book/src/basics/custom_types/type_aliases.md
  docs/book/src/basics/custom_types/unions.md
  examples/ch_3_5.pnt
  examples/ch_3_5_1.pnt
  examples/ch_3_5_2.pnt
  examples/ch_3_5_3.pnt
Labels: The Book of Pint

#922 More improvements to the book of Pint
  docs/book/src/SUMMARY.md
  docs/book/src/appendix/abi.md
  docs/book/src/appendix/intrinsics.md
  docs/book/src/appendix/keywords.md
  docs/book/src/appendix/known_issues.md
  docs/book/src/basics/constraints.md
  docs/book/src/basics/custom_types.md
  docs/book/src/basics/custom_types/match.md
  docs/book/src/basics/index.md
  docs/book/src/getting_started/quickstart.md
  docs/book/src/storage/static.md
  docs/book/theme/pint.js
  examples/appendix_c/out/debug/appendix_c-abi.json
  examples/appendix_c/src/contract.pnt
  examples/ch_3_5_3.pnt
  examples/ch_5_1.pnt
  pintc/src/parser/context.rs
Labels: pint :toolbox:

#923 Improve nested match lowering.
  examples/ch_3_5_3.pnt
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/predicate.rs
  pintc/src/predicate/analyse/type_check/custom_types.rs
  pintc/src/predicate/transform/lower.rs
  pintc/tests/unions/match_decls.pnt
  pintc/tests/unions/nested_match_decls.pnt
  pintc/tests/unions/nested_match_decls_ultra.pnt
  pintc/tests/unions/nested_match_exprs.pnt
  pintc/tests/unions/nested_match_exprs_ultra.pnt
Labels: bug :bug:, compiler :dragon: : semantic analysis

#924 Bump `pintc` to `0.4.1`
  Cargo.lock
  pintc/Cargo.toml
Labels: release

#925 Missing `pintc` version change
  Cargo.toml
Labels: release

#929 Bump pintc to 0.5.0
  Cargo.lock
  Cargo.toml
  pint-cli/Cargo.toml
  pint-pkg/Cargo.toml
  pintc/Cargo.toml
Labels: release

#935 Fold any `binaryop` that consists of a `boolean` or arithmetic identity
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/optimize.rs
  pintc/src/predicate/optimize/const_folding.rs
  pintc/tests/experimental/const_folding_identities.pnt
  pintc/tests/optimizations/const_folding.pnt
  pintc/tests/optimizations/dead_constraint_elimination.pnt
  pintc/tests/optimizations/false_constraint_simplification.pnt
Labels: optimization :chart_with_upwards_trend:

#943 Replace vars slotmap with a vector of `Param` where the type is mandatory
  Cargo.lock
  examples/appendix_c/out/debug/appendix_c-abi.json
  pint-abi-gen-tests/src/counter.rs
  pint-abi-gen/src/keys.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/mutations.rs
  pint-abi-gen/src/utils.rs
  pint-abi-gen/src/vars.rs
  pint-abi-types/src/lib.rs
  pint-abi-visit/src/lib.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/error/compile_error.rs
  pintc/src/expr/intrinsics.rs
  pintc/src/lexer.rs
  pintc/src/lexer/tests.rs
  pintc/src/macros.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse/array_check.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/analyse/type_check/check_exprs.rs
  pintc/src/predicate/analyse/type_check/check_paths.rs
  pintc/src/predicate/analyse/type_check/validate.rs
  pintc/src/predicate/display.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/predicate/vars.rs
  pintc/src/types.rs
  pintc/tests/abi/arrays-abi.json
  pintc/tests/abi/simple-abi.json
  pintc/tests/basic_tests/logical.pnt
  pintc/tests/contracts/bad_stateful.pnt
  pintc/tests/experimental/logical.pnt
  pintc/tests/experimental/portfolio_optimization.pnt
  pintc/tests/macros/macro_errors_in_modules/main.pnt
  pintc/tests/optimizations/dead_constraint_elimination.pnt
  pintc/tests/storage/invalid_state_var_storage_type.pnt
  pintc/tests/types/bad_state_type.pnt
  pintc/tests/types/bad_var_map_type.pnt
  pintc/tests/types/empty_array.pnt
Labels: compiler :dragon: : parser, compiler :dragon: : semantic analysis, json abi :outbox_tray:

#950 Add `salt` to `pint build` and `pintc`
  pint-abi-gen-tests/build.rs
  pint-cli/src/build.rs
  pint-pkg/src/build.rs
  pint-pkg/tests/build.rs
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/cli.rs
  pintc/src/main.rs
  pintc/tests/cli.rs
  tests/validation_tests.rs
Labels: pint :toolbox:

#959 Add an explicit check for const array initialisers of the wrong dimension.
  pintc/src/predicate/analyse/array_check.rs
  pintc/tests/arrays/bad_const_array_init.pnt
  pintc/tests/arrays/bad_const_index.pnt
  pintc/tests/arrays/bad_const_length.pnt
  pintc/tests/arrays/compare_different_sizes.pnt
  pintc/tests/arrays/index_enum_with_int.pnt
  pintc/tests/arrays/index_int_with_enum.pnt
  pintc/tests/arrays/out_of_bounds_index.pnt
  pintc/tests/arrays/out_of_bounds_index_multidimensional.pnt
  pintc/tests/arrays/out_of_bounds_index_multidimensional_second.pnt
Labels: bug :bug:

#961 Fix const addresses in external storage accesses
  pintc/src/expr.rs
  pintc/src/expr/evaluate.rs
  pintc/src/predicate.rs
  pintc/src/predicate/exprs.rs
  pintc/tests/arrays/bad_const_index.pnt
  pintc/tests/arrays/bad_const_length.pnt
  pintc/tests/arrays/compare_different_sizes.pnt
  pintc/tests/arrays/out_of_bounds_index_multidimensional_second.pnt
  pintc/tests/consts/const_addr.pnt
  pintc/tests/consts/interface_address.pnt
Labels: bug :bug:, compiler :dragon: : semantic analysis
