Repository essential-contributions/pint, pull requests merged in 2024-07, with the labels that each got.

#760 Allow type aliases for storage vars.
  pintc/src/parser/context.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/transform/lower.rs
  pintc/tests/storage/new_types.pnt
Labels: bug :bug:

#763 feat: Add a Pint Reference chapter to the book
  docs/book/src/SUMMARY.md
  docs/book/src/pint-reference/cli.md
  docs/book/src/pint-reference/index.md
  docs/book/src/pint-reference/manifest.md
Labels: The Book of Pint

#766 feat: Simplify `pint new` counter example to use one predicate
  pint-abi-gen-tests/test-pkgs/counter/src/contract.pnt
  pint-abi-gen-tests/tests/counter.rs
  pint-pkg/src/new.rs
Labels: pint :toolbox:

#769 A few fixes in the Pint Book
  docs/book/src/advanced/index.md
  docs/book/src/advanced/macros.md
  docs/book/src/appendix/index.md
  docs/book/src/basics/conditionals.md
  docs/book/src/basics/data_types.md
  docs/book/src/smart_contracts/index.md
  docs/book/src/storage/external.md
  docs/book/src/storage/static.md
  docs/book/theme/pint.js
  examples/ch_3_2.pnt
  examples/ch_5_1.pnt
Labels: The Book of Pint

#767 refactor(pint-abi-gen): Add `pint-abi-visit`, programmatic key construction
  Cargo.lock
  Cargo.toml
  pint-abi-gen/Cargo.toml
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/map.rs
  pint-abi-gen/src/mutation.rs
  pint-abi-gen/src/tuple.rs
  pint-abi-gen/src/vars.rs
  pint-abi-visit/Cargo.toml
  pint-abi-visit/src/lib.rs
  pint-abi/Cargo.toml
  pint-abi/src/key.rs
  pint-abi/src/lib.rs
Labels: json abi :outbox_tray:

#779 Remove keys from the JSON ABI
  docs/book/src/appendix/abi.md
  examples/appendix_c/out/debug/appendix_c-abi.json
  pint-abi-gen-tests/src/counter.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/map.rs
  pint-abi-gen/src/mutation.rs
  pint-abi-types/src/lib.rs
  pint-abi-visit/src/lib.rs
  pintc/src/predicate.rs
  pintc/src/types.rs
  pintc/tests/abi/arrays-abi.json
  pintc/tests/abi/simple-abi.json
Labels: json abi :outbox_tray:

#781 trunk upgrade and cargo update
  .trunk/trunk.yaml
  Cargo.lock
Labels: dependencies

#783 Move `exprs` from `Predicate` into `Contract`.
  pintc/src/asm_gen.rs
  pintc/src/expr/display.rs
  pintc/src/expr/evaluate.rs
  pintc/src/macros.rs
  pintc/src/parser.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/parser/use_path.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/array_check.rs
  pintc/src/predicate/analyse/intrinsics.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/display.rs
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/states.rs
  pintc/src/predicate/transform.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/unroll.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/predicate/vars.rs
  pintc/src/types.rs
  pintc/src/types/display.rs
  pintc/src/util.rs
  pintc/tests/consts/bad_type.pnt
  pintc/tests/root_types/arrays.pnt
  pintc/tests/root_types/exprs.pnt
Labels: code quality 🤓

#780 WIP* Allow `Map` to be declared outside of `Storage Block`
  pintc/src/error/compile_error.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/tests/storage/invalid_new_type_map.pnt
  pintc/tests/storage/new_type_map.pnt
  pintc/tests/types/bad_var_map_type.pnt
Labels: compiler :dragon: : parser, compiler :dragon: : semantic analysis

#761 feat: Add support for Arrays in `pint-abi-gen`
  Cargo.lock
  pint-abi-gen-tests/src/array.rs
  pint-abi-gen-tests/src/lib.rs
  pint-abi-gen-tests/test-pkgs/array/.gitignore
  pint-abi-gen-tests/test-pkgs/array/pint.toml
  pint-abi-gen-tests/test-pkgs/array/src/contract.pnt
  pint-abi-gen-tests/test-pkgs/simple/src/contract.pnt
  pint-abi-gen-tests/tests/array.rs
  pint-abi-gen-tests/tests/simple.rs
  pint-abi-gen/src/array.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/map.rs
  pint-abi-gen/src/mutation.rs
  pint-abi-types/src/lib.rs
  pint-abi-visit/src/lib.rs
  pint-abi/Cargo.toml
  pint-abi/src/key.rs
  pint-abi/src/lib.rs
Labels: json abi :outbox_tray:

#784 feat: Add `pint-abi-gen` `Keys` builder for building sets of keys
  pint-abi-gen-tests/tests/array.rs
  pint-abi-gen-tests/tests/simple.rs
  pint-abi-gen/src/array.rs
  pint-abi-gen/src/keys.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/map.rs
  pint-abi-gen/src/mutations.rs
  pint-abi-gen/src/tuple.rs
Labels: json abi :outbox_tray:

#787 feat(pint-abi): Generate `ADDRESS` consts for contracts, predicates
  Cargo.lock
  pint-abi-gen-tests/src/array.rs
  pint-abi-gen-tests/src/counter.rs
  pint-abi-gen-tests/src/pub_vars.rs
  pint-abi-gen-tests/src/simple.rs
  pint-abi-gen-tests/tests/array.rs
  pint-abi-gen-tests/tests/counter.rs
  pint-abi-gen-tests/tests/simple.rs
  pint-abi-gen/Cargo.toml
  pint-abi-gen/src/addr.rs
  pint-abi-gen/src/args.rs
  pint-abi-gen/src/lib.rs
Labels: json abi :outbox_tray:

#788 Introduce `PredKey` and a slotmap for `Contract::preds`.
  pintc/src/asm_gen.rs
  pintc/src/expr/evaluate.rs
  pintc/src/parser.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/parser/use_path.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/array_check.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/display.rs
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/transform.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/unroll.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/predicate/vars.rs
  pintc/src/types.rs
  pintc/tests/basic_tests/if_statements_in_predicates.pnt
  pintc/tests/contracts/macros.pnt
  pintc/tests/contracts/macros_multifile/main.pnt
  pintc/tests/contracts/simple.pnt
  pintc/tests/storage/erc20.pnt
  pintc/tests/storage/external_storage/main.pnt
  pintc/tests/storage/storage_multi_intent.pnt
Labels: code quality 🤓

#786 feat: Add support for decoding ABI types from `Word`s
  pint-abi-gen-tests/tests/simple.rs
  pint-abi-gen/src/vars.rs
  pint-abi/src/decode.rs
  pint-abi/src/encode.rs
  pint-abi/src/lib.rs
  pint-abi/src/read.rs
Labels: json abi :outbox_tray:

#791 fix: Add missing allow attribute in pint-abi-gen error variant
  pint-abi-gen/src/vars.rs
Labels: json abi :outbox_tray:

#792 feat: Add cargo publish action
  .github/workflows/ci.yml
Labels: ci :robot:

#793 Only generate `.json` on successful compile
  pintc/src/main.rs
Labels: compiler :dragon: : ui

#794 Lower Nested `Alias`
  pintc/src/predicate/transform/lower.rs
  pintc/tests/basic_tests/aliases.pnt
  pintc/tests/storage/new_type_map.pnt
  pintc/tests/types/new_type_in_new_type.pnt
  pintc/tests/types/new_type_in_tuple.pnt
Labels: bug :bug:

#795 Generate `JSON ABI` to output directory when `--output` flag is used
  pintc/src/main.rs
Labels: bug :bug:

#799 Some more `Contract` / `Predicate` refactoring.
  pintc/src/asm_gen.rs
  pintc/src/expr.rs
  pintc/src/expr/display.rs
  pintc/src/expr/evaluate.rs
  pintc/src/macros.rs
  pintc/src/parser.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/intrinsics.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/display.rs
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/states.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/unroll.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/predicate/vars.rs
  pintc/src/types.rs
  pintc/src/types/display.rs
  pintc/src/util.rs
  pintc/tests/consts/instance_address.pnt
  pintc/tests/consts/interface_address.pnt
  pintc/tests/interfaces/bad_address.pnt
  pintc/tests/interfaces/bad_interfaces.pnt
  pintc/tests/interfaces/simple.pnt
  pintc/tests/storage/external_storage/main.pnt
  pintc/tests/storage/missing_extern.pnt
  pintc/tests/storage/storage_array.pnt
  pintc/tests/storage/storage_tuple.pnt
Labels: code quality 🤓

#800 Add `intrinsic` names to the `lexer`
  pintc/src/error/parse_error.rs
  pintc/src/lexer.rs
  pintc/src/lexer/tests.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/tests/intrinsics/bad_ident.pnt
  pintc/tests/macros/bad_splicing.pnt
  pintc/tests/macros/splicing_expression_size.pnt
Labels: compiler :dragon: : parser

#802 Remove the 'root' predicate.
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/display.rs
  pintc/src/expr/evaluate.rs
  pintc/src/parser.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/parser/use_path.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/array_check.rs
  pintc/src/predicate/analyse/intrinsics.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/check_contract.rs
  pintc/src/predicate/display.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/unroll.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/predicate/vars.rs
  pintc/src/types.rs
Labels: code quality 🤓

#803 Storage vectors and `__vec_len` intrinsic
  docs/book/src/appendix/intrinsics.md
  pintc/src/asm_gen.rs
  pintc/src/error/compile_error.rs
  pintc/src/error/parse_error.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/intrinsics.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/transform.rs
  pintc/src/predicate/transform/legalize.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/types.rs
  pintc/src/types/display.rs
  pintc/tests/basic_tests/parse_failure.pnt
  pintc/tests/intrinsics/bad_vec_len_arg.pnt
  pintc/tests/intrinsics/bad_vec_len_placement.pnt
  pintc/tests/intrinsics/vec_len.pnt
  pintc/tests/storage/storage_vector.pnt
  pintc/tests/types/bad_state_type.pnt
  pintc/tests/types/bad_var_map_type.pnt
  pintc/tests/types/empty_array.pnt
  tests/validation_tests/storage_vector.pnt
  tests/validation_tests/storage_vector.toml
Labels: enhancement, compiler :dragon: : parser, compiler :dragon: : asm backend, compiler :dragon: : semantic analysis

#811 Excessive error messages related to intrinsics
  pintc/src/error/compile_error.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/tests/basic_tests/bad_nil.pnt
  pintc/tests/interfaces/bad_interfaces.pnt
  pintc/tests/intrinsics/bad_state_len_arg.pnt
  pintc/tests/intrinsics/bad_vec_len_arg.pnt
  pintc/tests/intrinsics/incorrect_args.pnt
  pintc/tests/storage/missing_extern.pnt
  pintc/tests/storage/missing_storage.pnt
  pintc/tests/storage/missing_storage_block.pnt
  pintc/tests/types/binary_ops.pnt
  pintc/tests/types/clashing_enums.pnt
  pintc/tests/types/enum_variant_unqualified.pnt
  pintc/tests/types/new_type_unknown.pnt
  pintc/tests/types/select_branches.pnt
  pintc/tests/types/state_in_ops.pnt
  pintc/tests/types/unary_ops.pnt
Labels: bug :bug:, compiler :dragon: : ui
