Repository essential-contributions/pint, pull requests merged in 2025-03, with the labels that each got.

#1063 Improve `const` evaluator error
  pintc/src/error/compile_error.rs
  pintc/src/expr/evaluate.rs
  pintc/tests/consts/bad_intrinsic.pnt
  pintc/tests/consts/bad_map.pnt
  pintc/tests/consts/bad_match.pnt
  pintc/tests/consts/bad_nil.pnt
  pintc/tests/consts/bad_predicate_call.pnt
  pintc/tests/storage/storage_accesses_as_const_error.pnt
Labels: compiler :dragon: : ui

#1086 Initial support for dynamically sized arrays.
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/asm_gen/tests/morphisms.rs
  pintc/src/expr.rs
  pintc/src/expr/intrinsics.rs
  pintc/src/parser/context.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/type_check/check_exprs.rs
  pintc/src/predicate/analyse/type_check/custom_types.rs
  pintc/src/predicate/analyse/type_check/validate.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/lower/lower_storage_accesses.rs
  pintc/src/predicate/transform/validate.rs
  pintc/src/types.rs
  pintc/src/types/display.rs
  pintc/tests/consts/bad_intrinsic.pnt
  pintc/tests/consts/bad_map.pnt
  pintc/tests/consts/bad_match.pnt
  pintc/tests/consts/bad_nil.pnt
  pintc/tests/consts/bad_predicate_call.pnt
  pintc/tests/dyn_arrays/bad_embedding.pnt
  pintc/tests/dyn_arrays/bad_len.pnt
  pintc/tests/dyn_arrays/bad_multi_dim_0.pnt
  pintc/tests/dyn_arrays/bad_multi_dim_1.pnt
  pintc/tests/dyn_arrays/simple.pnt
  pintc/tests/dyn_arrays/tuple_ary.pnt
  pintc/tests/dyn_arrays/union_ary.pnt
  pintc/tests/intrinsics/vec_len.pnt
  pintc/tests/optimizations/duplicate_variable_elimination.pnt
  pintc/tests/storage/bad_storage_types.pnt
  pintc/tests/storage/mut_storage.pnt
  pintc/tests/storage/storage_vector.pnt
  pintc/tests/tests.rs
  pintc/tests/types/empty_array.pnt
  tests/validation_tests/dyn_arrays_param_int.pnt
  tests/validation_tests/dyn_arrays_param_int.solution.json
  tests/validation_tests/dyn_arrays_param_tuple.pnt
  tests/validation_tests/dyn_arrays_param_tuple.solution.json
  tests/validation_tests/dyn_arrays_param_union.pnt
  tests/validation_tests/dyn_arrays_param_union.solution.json
Labels: compiler :dragon: : parser, compiler :dragon: : asm backend, compiler :dragon: : semantic analysis

#1097 Allow negative numbers in asm blocks
  pintc/src/pint_parser.lalrpop
  pintc/tests/basic_tests/asm_blocks.pnt
  tests/validation_tests/asm.pnt
Labels: compiler :dragon: : parser

#1098 Renaming `Vars` to `Args` in abi gen
  examples/abi_gen_example.rs
  pint-abi-gen-tests/test-pkgs/exhaustive_storage/src/contract.pnt
  pint-abi-gen-tests/test-pkgs/simple/src/contract.pnt
  pint-abi-gen-tests/tests/exhaustive_storage.rs
  pint-abi-gen-tests/tests/simple.rs
  pint-abi-gen-tests/tests/unions.rs
  pint-abi-gen/src/args.rs
  pint-abi-gen/src/keys.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/macro_args.rs
  pint-abi-gen/src/mutations.rs
  pint-abi-gen/src/utils.rs
  pint-abi-gen/src/vars.rs
  pint-abi-types/src/lib.rs
  pint-abi-visit/src/lib.rs
  pint-abi/src/key.rs
  pintc/src/predicate.rs
Labels: json abi :outbox_tray:

#1092 Support optionals in predicate data and storage
  pint-abi-gen-tests/src/lib.rs
  pint-abi-gen-tests/src/optional.rs
  pint-abi-gen-tests/test-pkgs/optional/.gitignore
  pint-abi-gen-tests/test-pkgs/optional/pint.toml
  pint-abi-gen-tests/test-pkgs/optional/src/contract.pnt
  pint-abi-gen-tests/tests/optional.rs
  pint-abi-gen/src/array.rs
  pint-abi-gen/src/keys.rs
  pint-abi-gen/src/lib.rs
  pint-abi-gen/src/map.rs
  pint-abi-gen/src/mutations.rs
  pint-abi-gen/src/unions.rs
  pint-abi-types/src/lib.rs
  pint-abi-visit/src/lib.rs
  pint-abi/src/decode.rs
  pint-abi/src/encode.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/asm_gen/tests/optional.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate/transform/lower/lower_storage_accesses.rs
  pintc/src/types.rs
  pintc/tests/basic_tests/optional.pnt
  tests/validation_tests/optional2.pnt
  tests/validation_tests/optional2.solution.json
Labels: compiler :dragon: : parser, compiler :dragon: : asm backend, json abi :outbox_tray:

#1100 Update to the latest Essential VM.
  Cargo.lock
  Cargo.toml
  examples/abi_gen_example/out/debug/abi_gen_example.json
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/asm_gen/tests/asm_blocks.rs
  pintc/src/asm_gen/tests/morphisms.rs
  pintc/src/asm_gen/tests/storage_accesses.rs
  tests/validation_tests/asm.pnt
Labels: compiler :dragon: : asm backend

#1099 Add the ability to choose what test(s) to run in `validation_tests`
  pintc/tests/tests.rs
  tests/validation_tests.rs
Labels: testing :test_tube:

#1104 Add a CLI option to prevent contract and ABI JSON files from being written.
  pintc/src/cli.rs
  pintc/src/main.rs
Labels: compiler :dragon: : ui

#1108 A few upgrades
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  pintc/src/error.rs
  pintc/src/warning.rs
  pintc/tests/cli.rs
  pintfmt/tests/cli.rs
Labels: ci :robot:, dependencies

#1112 Remove ssh-agent steps from CI since all the repos are now public
  .github/workflows/cache-trunk.yml
  .github/workflows/ci.yml
Labels: ci :robot:
