Repository essential-contributions/pint, pull requests merged in 2025-02, with the labels that each got.

#1060 A few upgrades
  .github/workflows/ci.yml
  .trunk/trunk.yaml
  Cargo.lock
  Cargo.toml
  pintc/src/error.rs
  pintc/src/warning.rs
  pintfmt/src/error.rs
Labels: ci :robot:, dependencies

#1066 Add ASM for maps over arrays of arrays.
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/display.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/asm_gen/tests/external_calls.rs
  pintc/src/asm_gen/tests/intrinsics.rs
  pintc/src/asm_gen/tests/multi_predicates.rs
  pintc/src/asm_gen/tests/storage_accesses.rs
  pintc/tests/loops/map_fixed_expr.pnt
  pintc/tests/loops/map_fixed_memory.pnt
  pintc/tests/loops/map_fixed_param.pnt
  tests/validation_tests/map_fixed_expr_ary.pnt
  tests/validation_tests/map_fixed_expr_ary.solution.json
  tests/validation_tests/map_fixed_expr_int.pnt
  tests/validation_tests/map_fixed_expr_int.solution.json
  tests/validation_tests/map_fixed_memory_ary.pnt
  tests/validation_tests/map_fixed_memory_ary.solution.json
  tests/validation_tests/map_fixed_memory_int.pnt
  tests/validation_tests/map_fixed_memory_int.solution.json
  tests/validation_tests/map_fixed_param_array.pnt
  tests/validation_tests/map_fixed_param_array.solution.json
  tests/validation_tests/map_fixed_param_int.pnt
  tests/validation_tests/map_fixed_param_int.solution.json
  tests/validation_tests/map_fixed_storage_ary.pnt
  tests/validation_tests/map_fixed_storage_ary.solution.json
  tests/validation_tests/pre_and_post_in_var.pnt
  tests/validation_tests/pre_and_post_in_var.solution.json
  tests/validation_tests/storage_inline.pnt
  tests/validation_tests/storage_inline.solution.json
Labels: compiler :dragon: : asm backend

#1076 Add asm blocks as possible var initializers
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests.rs
  pintc/src/asm_gen/tests/asm_blocks.rs
  pintc/src/error/compile_error.rs
  pintc/src/error/parse_error.rs
  pintc/src/expr.rs
  pintc/src/expr/display.rs
  pintc/src/expr/evaluate.rs
  pintc/src/lexer.rs
  pintc/src/lexer/tests.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/src/predicate.rs
  pintc/src/predicate/analyse.rs
  pintc/src/predicate/analyse/type_check.rs
  pintc/src/predicate/analyse/type_check/check_exprs.rs
  pintc/src/predicate/exprs.rs
  pintc/src/predicate/transform/lower.rs
  pintc/src/predicate/transform/validate.rs
  pintc/tests/basic_tests/asm_blocks.pnt
  pintc/tests/basic_tests/bad_asm_argument.pnt
  tests/validation_tests/asm.pnt
  tests/validation_tests/asm.solution.json
  tests/validation_tests/var_deps.pnt
Labels: compiler :dragon: : parser, compiler :dragon: : asm backend, compiler :dragon: : semantic analysis

#1084 Remove the need for PUSH in an asm block. Just directly accept immediates
  pintc/src/asm_gen.rs
  pintc/src/asm_gen/asm_builder.rs
  pintc/src/asm_gen/tests/asm_blocks.rs
  pintc/src/error/compile_error.rs
  pintc/src/expr.rs
  pintc/src/expr/display.rs
  pintc/src/parser/tests.rs
  pintc/src/pint_parser.lalrpop
  pintc/tests/basic_tests/asm_blocks.pnt
  tests/validation_tests/asm.pnt
Labels: compiler :dragon: : parser, compiler :dragon: : asm backend
